@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
    background-color: #fff;
    color: #3c464b;
}

.pricing-plans {
    /* font-family: "Roboto", sans-serif; */
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

.pricing-plans .plan {
    width: 90%;
    margin: 0 auto;
    min-width: 0;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 2.25rem 0;
    position: relative;
    will-change: transform;
    text-align: center;
}

.pricing-plans .plan:before {
    position: relative;
    content: "";
    border: 1px solid transparent;
    width: 100%;
    display: block;
    padding: 0.5rem;
    height: 42px;
}

@media only screen and (min-width: 1200px) {
    /* .pricing-plans .plan {
    width: 14.28571428571429%;
  } */
}

.pricing-plans .plan.options {
    font-size: 0.75rem;
}

.pricing-plans .plan.popular:before {
    background-color: #ddd;
    content: "MOST POPULAR";
    border-color: #ddd;
}

.pricing-plans .plan .plan-header {
    border: 1px solid #ddd;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: RGB(221, 221, 221, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
    vertical-align: top;
    position: relative;
    min-height: 185px;
    padding: 1.5rem;
}

.pricing-plans .plan .plan-header.first {
    border-color: transparent;
    background-color: transparent;
}

.pricing-plans .plan .plan-header.last {
    border-right: 1px solid #ddd;
}

.pricing-plans .plan .plan-header h3 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.pricing-plans .plan .plan-header h3 .label {
    display: block;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 0 auto 0px;
    text-transform: uppercase;
    font-weight: 700;
}

.pricing-plans .plan .plan-header h3 .figure {
    padding: 5px 0 5px;
    position: relative;
}

.pricing-plans .plan .plan-header h3 .figure span {
    display: inline-block;
}

.pricing-plans .plan .plan-header h3 .figure .amount {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -3px;
    line-height: 1;
}

.pricing-plans .plan .plan-header h3 .figure .amount:before {
    content: "PKR";
    font-size: 1.3rem;
    font-weight: 400;
    vertical-align: top;
    letter-spacing: normal;
}

.pricing-plans .plan .plan-header h3 .figure .amount:after {
    position: relative;
    top: -6px;
    left: 5px;
    content: "/MO";
    letter-spacing: normal;
    font-weight: 400;
    vertical-align: bottom;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.pricing-plans .plan .plan-header h3 .foreword {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 0;
}

.pricing-plans .plan .plan-header h3 .afterword {
    font-size: 0.7rem;
    text-transform: uppercase;
    padding: 0;
    white-space: nowrap;
    color: #84949c;
    letter-spacing: 0px;
}

.pricing-plans .plan .plan-header h3 .text {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    text-align: left;
}

.pricing-plans .plan .plan-header .button {
    margin-top: auto;
    display: block;
}

.pricing-plans .plan .plan-info .list-group .list-group-item {
    border-radius: 0px;
    border-width: 1px;
    border-right-color: transparent;
    font-weight: 700;
}
small.price-save {
    background: linear-gradient(157deg, #e3c167 -12%, #caa343 109%);
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

@media only screen and (min-width: 1200px) {
    .pricing-plans .plan .plan-info .list-group.first {
        margin-top: 11.75rem;
    }
}
@media only screen and (max-width: 992px) {
    /* .pricing-plans.d-flex.pricing-plans-wrap.my-auto {
        flex-direction: column;
    } */
    .overflow-y-md {
        overflow-y: scroll;
    }
    /* .pricing-plans .plan .plan-header {
        border-right-color: #ddd;
    }
    .pricing-plans .plan .plan-info .list-group .list-group-item {
        border-right-color: #ddd !important;
    } */
    .pricing-plans.d-flex.pricing-plans-wrap.my-auto {
        min-width: 1100px;
        overflow-x: scroll;
    }
    /* width */
    .pricing-plans.d-flex.pricing-plans-wrap.my-auto::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }

    /* Track */
    .pricing-plans.d-flex.pricing-plans-wrap.my-auto::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
    }

    /* Handle */
    .pricing-plans.d-flex.pricing-plans-wrap.my-auto::-webkit-scrollbar-thumb {
        background: linear-gradient(
            157deg,
            #e3c167 -12%,
            #caa343 109%
        ) !important;
    }

    /* Handle on hover */
    .pricing-plans.d-flex.pricing-plans-wrap.my-auto::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(157deg, #b1964e -12%, #977b34 109%);
    }
}

.pricing-plans .plan .plan-info .list-group.first .list-group-item {
    border-color: transparent;
    /* padding: 0.9rem 1rem; */
}

.pricing-plans .plan .plan-info .list-group.last .list-group-item {
    border-right-color: #ddd;
}
.pricing-plans .plan .plan-info .list-group .list-group-item {
    border-radius: 0px;
    border-width: 1px;
    border-right-color: transparent;
    font-weight: 700;
}
.text-success {
    color: #28a745 !important;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.text-danger {
    color: #dc3545 !important;
}
a.btn.btn-sm.btn-secondary {
    /* background: linear-gradient(
        157deg,
        var(--first-color-light) -12%,
        var(--first-color) 109%
    ); */
    background: linear-gradient(157deg, #e3c167 -12%, #caa343 109%);
    color: #fff;
}
/*# sourceMappingURL=price-table.css.map */
