html {
    scroll-behavior: smooth;
}
div#service-select select {
    background: transparent;
    z-index: 2;
    border-radius: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: #fff !important;
    width: 100%;
    border-color: #fff;
    padding: 0.375rem 0.75rem;
}
p.text-white.p-hero-text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
ul.inner-list {
    padding: inherit;
}

ul.inner-list li {
    font-weight: 500;
}
section.packages {
    padding: 80px 0;
    background: #eee !important;
}
.section-gap {
    padding: 80px 0;
}
section#about {
    padding: 80px 0;
    background: #f3f3f3 !important;
}
img.logo-mwp {
    width: 50px;
}
section#home {
    background: url("../images/Iron-and-Steel.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
}
/* .card__container.grid.swiper-wrapper {
    cursor: -webkit-grab;
} */
.card__pricing_custom {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: auto;
}
.duration-price {
    font-size: 12px;
    font-weight: normal;
}

.duration-price small.price-save {
    display: block;
    width: 100%;
}

.duration-price span.new-price {
    font-weight: bold;
    letter-spacing: 1px;
}
.header--wrapper .inner-wrapper:nth-child(1) .card__pricing_custom {
    background: linear-gradient(
        157deg,
        var(--first-color-light) -12%,
        var(--first-color) 109%
    );
}
.header--wrapper .inner-wrapper:nth-child(2) .card__pricing_custom {
    background: linear-gradient(
        157deg,
        hsl(144deg 96% 69%) -12%,
        hsl(216deg 96% 54% / 96%) 109%
    );
}
.header--wrapper .inner-wrapper:nth-child(3) .card__pricing_custom {
    background: linear-gradient(
        157deg,
        hsl(338deg 96% 69%) -12%,
        hsl(194deg 96% 54%) 109%
    );
}
.header--wrapper .inner-wrapper:nth-child(4) .card__pricing_custom {
    background: linear-gradient(
        157deg,
        hsl(144deg 96% 69%) -12%,
        hsl(158deg 96% 54%) 109%
    );
}
.card__pricing-number {
    font-size: 20px;
}
.header--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.header--wrapper .inner-wrapper {
    flex: 1;
    margin-bottom: 5px;
    padding: 0 15px;
}
.card.container.grid.swiper.mySwiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden {
    padding: 35px 20px;
}
span.card__pricing-symbol {
    font-size: 10px;
}
span.card__pricing-month {
    font-size: 10px;
}
.card__pricing-number {
    font-size: 18px;
}
ul.card__list.grid._first {
    height: 80px;
}
li.list-group-item.duration {
    padding-bottom: 140px;
}
.pricing-plans .plan .plan-info .list-group.first .list-group-item {
    font-size: 14px;
}
section#table-packages {
    padding: 80px 0;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.features-list ol {
    margin: 15px 0;
    list-style-type: decimal !important;
    padding: 0 15px;
}
.mb-5 {
    margin-bottom: 2.5rem;
}
span.gap {
    margin-left: 5px;
    font-weight: 600;
}

.whatsapp-chat-btn {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 21px;
    left: 28px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-float {
    margin-top: 16px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #f9f9f9;
    padding: 25px;
    margin: 25px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: linear-gradient(
            157deg
            , #e3c167 -12%, #caa343 109%);
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    border: 1px solid black;
    background: transparent;
    color: black;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}


.google-maps {
    position: relative;
    padding-bottom: 2%; // This is the aspect ratio
height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}